extends layout

block content
  div.header
    h1= title

  div.container
    form
      p.error
      input(type='text' name='naam', id='naam', placeholder='insert your name here')
      textarea(rows='5', name='vraag', id='vraag', placeholder='Ask  your question here!')
      input(type='submit', id='verzend', value="Ask away")

  section#allevragen


