doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    h1 Ask a question
    form
    label.label(for='Gebruiker')  Gebruiker
    input.input(id='Gebruiker',type='text',value=Gebruiker,name='Gebruiker', placeholder="Naam") 
    label.label(for='vraag')  Wat is je vraag
    input.input(id='vraag',type='textarea',value='',name='vraag', placeholder="vraag")
    input.input(id='button',type='submit',value='Vraag',name='vraag')
